.screen{
    display: flex;
    justify-content: center;
    align-content: center;
    flex: 1;
    font-family: 'Roboto', sans-serif;
    background-color: #05386B;
    overflow: auto;
}
.mainPageContainer{
    margin-top: 0px;
    width: 60%;
    background-color: rgb(222,222,222);
    border-radius: 50px;
    padding:50px;
    overflow: auto;
}
.regular{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.light{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}
.bold{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
.selectForm{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 16px;
    width:100%;
}
.formButton{
    width:100%;
    padding:10px;
    color:white;
    background-color: #f64c72;
    cursor: pointer;
    border-radius: 25px;
    transition-duration: 0.4s;
    text-decoration: none;
}

.inputFocus {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.inputFocus:focus {
    border: 3px solid #555;
}

.link{
    color:black;
    -webkit-transition: 0.5s;
    cursor: pointer;
    text-decoration: none;
}
.link:hover{
    color:#f64c72;
}

/* Remove margins and padding from the list */
ul {
    margin: 0;
    padding: 0;
}

/* Style the list items */
ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;

    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
    background: #f9f9f9;
}
/* Darker background-color on hover */
ul li:hover {
    background: #ddd;
}
/* When clicked on, add a background color and strike out text */
ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}
/* Add a "checked" mark when clicked on */
ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}
